html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background: no-repeat  url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
}

.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}
.todoList h1{
    color: floralwhite;
}
.todoList .input input {
    border-top: none;
}

.todoList ul li {
    margin: 10px;
    list-style-type: none;
    color: #fff;
}

.todoList ul li button {
    margin-left: 5px;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
}

.todoList .buttonChange button {
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}