
.active_filter {
    background-color: orange;
}

.isDone {
    opacity: 0.8;
}

.error {
    border: 5px solid red;
}

.error_message {
    color: greenyellow;
    margin: 0;
    text-align: center;
}